﻿@model IEnumerable<KajBomoPaDnsJel.Models.Meni>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.restavracija) ? "Restavracija" : ViewBag.restavracija;
}
@{
    string naslov = "Meni";
    if (string.IsNullOrEmpty(ViewBag.restavracija))
    {
        naslov += "";
    }
    else
    {
        naslov += " " + ViewBag.restavracija;
    }
}

@*https://www.w3schools.com/bootstrap/bootstrap_carousel.asp*@
@*https://www.w3schools.com/w3css/w3css_slideshow.asp*@
@*https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/*@

<script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.5" async></script>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Ime)*@
            @*@Html.DisplayName("Meni " + "ViewBag.restavracija"+":")*@
            @Html.DisplayName(naslov + ":")
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <i>Za današnji dan ni objavljenega menija.</i>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@if (item.Ime.StartsWith("("))
                        {
                            <text>       </text>
                        }*@
                    @if (item.IsFacebookPost)
                    {
                        @*<text>1 @item.FacebookPostUrl</text>*@
                        <div class="fb-post" data-href="@item.FacebookPostUrl" data-width="500"></div>
                    }
                    @*else if (item.Ime.Contains("http"))
                        {
                            <text>2 @item.Ime</text>
                            <img src="@item.Ime" />
                            <div class="fb-post" data-href="@item.Ime" data-width="500"></div>
                        }*@
                    else
                    {
                        @*<text>3 @item.Ime</text>*@
                        @Html.DisplayFor(modelItem => item.Ime)
                    }
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    }

</table>
