﻿@{
    ViewBag.Title = "About";
}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<h2>About me</h2>

@*<p>Use this area to provide additional information.</p>*@
@*<p>Zaenkrat nič posebnega.</p>*@
<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="aleskoncilja"><a class="LI-simple-link" href='https://si.linkedin.com/in/aleskoncilja?trk=profile-badge'>Aleš Koncilja</a></div>    @*data-theme="dark"*@
