﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
<address>
    <strong>Osebno:</strong>    <a href="mailto:ales.koncilja@gmail.com">Aleš - privatno</a><br />
    <strong>Službeno:</strong>  <a href="mailto:ales.koncilja@cgs-labs.com">Aleš - službeno</a>
</address>