﻿@{
    ViewBag.Title = "Home Page";
}
@using KajBomoPaDnsJel.BusinessLogic;

<div class="jumbotron">
    <h1>Kaj bomo pa dns jel</h1>
    <p class="lead">Vsi meniji na enem kupu :)</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Element", "Restavracija", "Meni", new { id = (int)MeniWebPageParser.WebPagesEnum.Element }, null)</h2>
        <h2>@Html.ActionLink("Rogovilc", "Restavracija", "Meni", new { id = (int)MeniWebPageParser.WebPagesEnum.Rogovilc }, null)</h2>
        <h2>@Html.ActionLink("Farao", "Restavracija", "Meni", new { id = (int)MeniWebPageParser.WebPagesEnum.Farao }, null)</h2>
        <h2>@Html.ActionLink("Florjančkov Hram", "Restavracija", "Meni", new { id = (int)MeniWebPageParser.WebPagesEnum.FlorjanckovHram }, null)</h2>
        <p>@*<a class="btn btn-default" href="@Html.ActionLink("Home", "Index", "Home")">Element</a>*@</p>


    </div>

    <div class="col-md-4">
        <h2>Mobilna aplikacija</h2>
        <p>
            Sedaj je na voljo tudi mobilna aplikacija.
        </p>
        <p><a class="btn btn-default" title="Prenesi mobilno aplikacijo" target="_blank" href="https://gonative.io/share/qoaped">Prenesi mobilno aplikacijo</a></p>
    </div>

    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>